# Data Preprocessing

## Importing the libraries

In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Importing the dataset

In [16]:
df=pd.read_csv('AB_US_2020.csv')

C:\Users\sohmt\Python310\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

for handling the DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.

https://www.roelpeters.be/solved-dtypewarning-columns-have-mixed-types-specify-dtype-option-on-import-or-set-low-memory-in-pandas/

In [17]:
df=pd.read_csv('AB_US_2020.csv', low_memory=False)

In [18]:
df.shape

(226030, 17)

In [19]:
df.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365', 'city'],
      dtype='object')

In [20]:
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,city
0,38585,Charming Victorian home - twin beds + breakfast,165529,Evelyne,NaN,28804,35.65146,-82.62792,Private room,60,1,138,16/02/20,1.14,1,0,Asheville
1,80905,French Chic Loft,427027,Celeste,NaN,28801,35.59779,-82.55540,Entire home/apt,470,1,114,07/09/20,1.03,11,288,Asheville
2,108061,Walk to stores/parks/downtown. Fenced yard/Pet...,320564,Lisa,NaN,28801,35.60670,-82.55563,Entire home/apt,75,30,89,30/11/19,0.81,2,298,Asheville
3,155305,Cottage! BonPaul + Sharky's Hostel,746673,BonPaul,NaN,28806,35.57864,-82.59578,Entire home/apt,90,1,267,22/09/20,2.39,5,0,Asheville
4,160594,Historic Grove Park,769252,Elizabeth,NaN,28801,35.61442,-82.54127,Private room,125,30,58,19/10/15,0.52,1,0,Asheville

In [21]:
df_ch = df[df['neighbourhood_group']=='Manhattan']

In [22]:
df_ch.shape

(20236, 17)

In [23]:
df_ch.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,city
117155,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,175,3,48,04/11/19,0.37,2,365,New York City
117159,5178,Large Furnished Room Near B'way„ÄÄ,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,79,2,473,15/03/20,3.42,1,346,New York City
117160,5203,Cozy Clean Guest Room - Family Apt,7490,MaryEllen,Manhattan,Upper West Side,40.80178,-73.96723,Private room,75,2,118,21/07/17,0.88,1,0,New York City
117161,5238,Cute & Cozy Lower East Side 1 bdrm,7549,Ben,Manhattan,Chinatown,40.71344,-73.99037,Entire home/apt,140,1,161,29/07/19,1.20,4,288,New York City
117162,5552,Spacious river view in the West Village,8380,Maria,Manhattan,West Village,40.73552,-74.01042,Entire home/apt,160,3,66,10/08/19,0.49,1,96,New York City

In [24]:
df_cht = df[df['price']==0]

In [25]:
df_cht.shape

(62, 17)

In [26]:
df_cht.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,city
11106,42738847,Hotel Granduca Austin,314291208,Hotel Granduca,NaN,78746,30.30181,-97.82910,Hotel room,0,1,0,NaN,NaN,1,0,Austin
15171,41740613,The Revolution Hotel,228911273,The Revolution Hotel,NaN,South End,42.34591,-71.07090,Hotel room,0,1,0,NaN,NaN,1,0,Boston
15218,42065558,Boston Fenway Inn,308490585,Boston Fenway Inn,NaN,Fenway,42.34637,-71.08882,Hotel room,0,1,0,NaN,NaN,1,0,Boston
18071,18841208,GREAT LAKE VIEW ROOM FOR RENT,122563804,Francisco,NaN,Oakland Park,26.18349,-80.19390,Private room,0,1,1,29/06/17,0.03,1,0,Broward County
18344,20477892,Sea Esta 3 bedroom waterfront pool home,9743916,Michelle,NaN,Pompano Beach,26.21769,-80.10857,Entire home/apt,0,3,5,13/05/19,0.18,4,358,Broward County

In [27]:
df.dtypes

id                                  int64
name                               object
host_id                             int64
host_name                          object
neighbourhood_group                object
neighbourhood                      object
latitude                          float64
longitude                         float64
room_type                          object
price                               int64
minimum_nights                      int64
number_of_reviews                   int64
last_review                        object
reviews_per_month                 float64
calculated_host_listings_count      int64
availability_365                    int64
city                               object
dtype: object

In [28]:
df.isna().sum()

id                                     0
name                                  28
host_id                                0
host_name                             33
neighbourhood_group               115845
neighbourhood                          0
latitude                               0
longitude                              0
room_type                              0
price                                  0
minimum_nights                         0
number_of_reviews                      0
last_review                        48602
reviews_per_month                  48602
calculated_host_listings_count         0
availability_365                       0
city                                   0
dtype: int64

Columns with missing values:

name                                  28 
host_name                             33
neighbourhood_group               115845
last_review                        48602
reviews_per_month                  48602

In [29]:
df.name.value_counts()

Home away from home                                75
A place of your own | 2BR in Las Vegas             62
Cozy place to call home | 1BR in Los Angeles       48
Stay in a place of your own | 1BR in Washington    43
Union Square Convention Hotel                      40
                                                   ..
Private Floor with Bedroom and Bath near Malibu     1
Centrally located, beautiful, 2 bd                  1
Magical 3 BR Spanish Designer Home!                 1
Relax, Unwind & Have A Little Fun!                  1
Beautiful large one-bedroom w/ washer and dryer     1
Name: name, Length: 218443, dtype: int64

In [30]:
df.host_name.value_counts()

Michael            2025
David              1656
John               1418
Zeus               1217
Blueground         1172
                   ...
Justin You            1
Chavi                 1
John And Laurie       1
Jonie                 1
Bassem                1
Name: host_name, Length: 30533, dtype: int64

In [31]:
df.neighbourhood_group.value_counts()

Manhattan               20236
Brooklyn                18263
City of Los Angeles     17544
Other Cities            11463
Maui                     7897
Honolulu                 6313
Queens                   5746
Hawaii                   4977
Kauai                    3247
Unincorporated Areas     2529
Newport                  1412
Other neighborhoods      1253
Washington               1201
Bronx                    1185
Providence               1056
Downtown                 1043
Capitol Hill              682
Central Area              572
Queen Anne                459
West Seattle              378
Ballard                   369
Rainier Valley            357
Staten Island             326
Cascade                   268
Beacon Hill               252
University District       238
Delridge                  201
Northgate                 150
Magnolia                  132
Lake City                 118
Kent                      108
Bristol                   107
Seward Park                69
Interbay                   34
Name: neighbourhood_group, dtype: int64

In [32]:
df.last_review.value_counts()

15/03/20    2915
07/09/20    2080
08/03/20    1989
23/08/20    1929
16/03/20    1816
            ...
19/05/14       1
01/05/15       1
22/04/15       1
23/03/14       1
29/04/15       1
Name: last_review, Length: 2377, dtype: int64

In [33]:
df.reviews_per_month.value_counts()

0.03     2836
0.02     2758
0.08     2525
0.04     2482
0.06     2407
         ...
12.91       1
9.44        1
13.34       1
11.41       1
9.45        1
Name: reviews_per_month, Length: 1242, dtype: int64

In [34]:
# Same indexes have null values for columns of 'reviews_per_month' & 'last_review'
df[df['reviews_per_month'].isnull()].index.tolist()==df[df['last_review'].isnull()].index.tolist()

True

In [35]:
df.room_type.unique()

array(['Private room', 'Entire home/apt', 'Hotel room', 'Shared room'],
      dtype=object)

In [36]:
percent_missing = df.isnull().sum() * 100 / len(df)
missing_value_df = pd.DataFrame({'column_name': df.columns, 'percent_missing': percent_missing})

In [37]:
missing_value_df
# 51% rows have missing 'neighbourhood_group'
# 22% rows have missing 'last_review'
# 22% rows have missing 'reviews_per_month'

,column_name,percent_missing
id,id,0.000000
name,name,0.012388
host_id,host_id,0.000000
host_name,host_name,0.014600
neighbourhood_group,neighbourhood_group,51.252046
neighbourhood,neighbourhood,0.000000
latitude,latitude,0.000000
longitude,longitude,0.000000
room_type,room_type,0.000000
price,price,0.000000
minimum_nights,minimum_nights,0.000000
number_of_reviews,number_of_reviews,0.000000
last_review,last_review,21.502455
reviews_per_month,reviews_per_month,21.502455
calculated_host_listings_count,calculated_host_listings_count,0.000000
availability_365,availability_365,0.000000
city,city,0.000000

Find out the percentage of missing values in each column in the given dataset:

https://www.thiscodeworks.com/python-find-out-the-percentage-of-missing-values-in-each-column-in-the-given-dataset-stack-overflow-python/607d4c3f6013b5001411542c

In [38]:
#move price column to last 
column_to_reorder = df.pop('price')
df.insert(len(df. columns), 'price', column_to_reorder)

df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,city,price
0,38585,Charming Victorian home - twin beds + breakfast,165529,Evelyne,NaN,28804,35.65146,-82.62792,Private room,1,138,16/02/20,1.14,1,0,Asheville,60
1,80905,French Chic Loft,427027,Celeste,NaN,28801,35.59779,-82.55540,Entire home/apt,1,114,07/09/20,1.03,11,288,Asheville,470
2,108061,Walk to stores/parks/downtown. Fenced yard/Pet...,320564,Lisa,NaN,28801,35.60670,-82.55563,Entire home/apt,30,89,30/11/19,0.81,2,298,Asheville,75
3,155305,Cottage! BonPaul + Sharky's Hostel,746673,BonPaul,NaN,28806,35.57864,-82.59578,Entire home/apt,1,267,22/09/20,2.39,5,0,Asheville,90
4,160594,Historic Grove Park,769252,Elizabeth,NaN,28801,35.61442,-82.54127,Private room,30,58,19/10/15,0.52,1,0,Asheville,125

In [39]:
df['last_review'] = pd.to_datetime(df['last_review'])

In [40]:
type(df['last_review'][1])

pandas._libs.tslibs.timestamps.Timestamp

In [41]:
df['last_review'].max()

Timestamp('2020-12-09 00:00:00')

In [42]:
df['last_review'].min()

Timestamp('2010-03-28 00:00:00')

In [43]:
#X=df.iloc[:,:-1].values
#y=df.iloc[:,-1].values

## Taking care of Missing Data

5 Ways To Handle Missing Values In Machine Learning Datasets:

https://analyticsindiamag.com/5-ways-handle-missing-values-machine-learning-datasets/

https://towardsdatascience.com/6-different-ways-to-compensate-for-missing-values-data-imputation-with-examples-6022d9ca0779

url: https://towardsdatascience.com/7-ways-to-handle-missing-values-in-machine-learning-1a6326adf79e

---> not getting installed

In [44]:
#Deciding:
#name                                  28 Not significant str       Remove
#host_name                             33 Not significant str       Remove
#neighbourhood_group               115845 Significant     str       34 groups
#last_review                        48602 Significant     str       🔴
#reviews_per_month                  48602 Significant     float     replace nan by mean

### Handle missing datetimes in 'last_review' 🔴

can we remove the variable?

### remove prices with 0

In [45]:
df = df[df['price']!=0]

### Remove rows with null values in 'name' & 'host_name'

In [46]:
df = df[pd.notnull(df['name'])]

In [47]:
df = df[pd.notnull(df['host_name'])]

In [48]:
df.isna().sum()

id                                     0
name                                   0
host_id                                0
host_name                              0
neighbourhood_group               115801
neighbourhood                          0
latitude                               0
longitude                              0
room_type                              0
minimum_nights                         0
number_of_reviews                      0
last_review                        48532
reviews_per_month                  48532
calculated_host_listings_count         0
availability_365                       0
city                                   0
price                                  0
dtype: int64

In [49]:
X=df.iloc[:,:-1].values
y=df.iloc[:,-1].values

### Imputation using Mean for 'reviews_per_month'

related to 'number_of_reviews' ?

In [50]:
index_no = df.columns.get_loc('reviews_per_month')
print(index_no)

12

In [51]:
X[:,12].shape

(225907,)

In [52]:
xrpm = X[:,12].reshape(-1, 1)

In [53]:
from sklearn.impute import SimpleImputer
imputer=SimpleImputer(missing_values=np.nan, strategy='mean')
imputer.fit(xrpm)
xrpm=imputer.transform(xrpm)

In [54]:
np.count_nonzero(np.isnan(xrpm))

0

In [55]:
X[:,12]=xrpm.reshape(1,-1)

In [56]:
X[:,12]

array([1.14, 1.03, 0.81, ..., 1.4315295842142357, 1.4315295842142357,
       1.4315295842142357], dtype=object)

### Imputation for 'neighbourhood_group' by adding new 'unknown' category

In [57]:
index_no = df.columns.get_loc('neighbourhood_group')
print(index_no)

4

In [58]:
df1 = df
df1['neighbourhood_group']=df1['neighbourhood_group'].replace(np.nan, 'unknown', regex = True)

In [59]:
df1.isnull().sum()

id                                    0
name                                  0
host_id                               0
host_name                             0
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
minimum_nights                        0
number_of_reviews                     0
last_review                       48532
reviews_per_month                 48532
calculated_host_listings_count        0
availability_365                      0
city                                  0
price                                 0
dtype: int64

In [60]:
X[:,4] = df1['neighbourhood_group'].values

## Encoding Categorical Data

In [61]:
X.shape

(225907, 16)

In [62]:
y.shape

(225907,)

In [63]:
df.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'minimum_nights',
       'number_of_reviews', 'last_review', 'reviews_per_month',
       'calculated_host_listings_count', 'availability_365', 'city', 'price'],
      dtype='object')

In [64]:
df.city.unique()

array(['Asheville', 'Austin', 'Boston', 'Broward County', 'Cambridge',
       'Chicago', 'Clark County', 'Columbus', 'Denver', 'Hawaii',
       'Jersey City', 'Los Angeles', 'Nashville', 'New Orleans',
       'New York City', 'Oakland', 'Pacific Grove', 'Portland',
       'Rhode Island', 'Salem', 'San Clara Country', 'San Diego',
       'San Francisco', 'San Mateo County', 'Santa Cruz County',
       'Seattle', 'Twin Cities MSA', 'Washington D.C.'], dtype=object)

Categorical data columns:

Independent-
1. neighbourhood_group
2. room_type
3. city

Dedependent-
none

In [65]:
df.city.unique().shape

(28,)

In [66]:
df.neighbourhood_group.unique().shape

(35,)

In [67]:
df.room_type.unique().shape

(4,)

In [69]:
df.columns.shape

(17,)

In [70]:
df.room_type.unique()

array(['Private room', 'Entire home/apt', 'Hotel room', 'Shared room'],
      dtype=object)

In [83]:
index_no = df.columns.get_loc('room_type')
print(index_no)

8

In [84]:
X.shape

(225907, 16)

In [86]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [8])], remainder='passthrough')
z=np.array(ct.fit_transform(X))

In [93]:
z[185,0:5]

array([0.0, 0.0, 0.0, 1.0, 6765734], dtype=object)

0010 Private room', 
1000 Entire home/apt', 
0100 Hotel room', 
0001 Shared room